.ripple-button {
  position: relative;
  overflow: hidden;
  user-select: none;
  .ripple {
      box-sizing: content-box;
      display: block; 
      position: absolute;
      background: lighten(white, 18%);
      width: 0;
      height: 0;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      z-index: 1000;
  }

  &:focus {
    outline:0;
  }
  &.btn-animate .ripple {
      animation: rippleAnimation 0.4s ease-in;
  }
}

@keyframes rippleAnimation {
    from {
      width: 0;
      height: 0;
      opacity: 0.6;
    }
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    to {
      width: 2000px;
      height: 2000px;
      opacity: 0;
    }
}
