a.main-button {
  text-decoration: none;
  color: #ffffff;
  width: 44vw;
  text-align: center;
  font-size: 40px;
  margin: 20px 3vw;
  padding: 40px 0;
  background-color: #7373AA;
  border: 2px solid #4a4a4a;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
}

.webview-header {
  width: 100vw;
  height: 100px;
  padding: 20px 40px;
  padding-top: 15px;
  font-size: 45px;
  background-color: #4c4c4e;
  border-bottom: 5px solid #111111;
  vertical-align: middle;
  box-sizing: border-box;
}

.webview-header a {
  color: white !important;
}

.webview-header > img.logo {
  position: relative;
  top: -5px;
  height: 150%;
}

.webview-iframe {
  width: 100vw;
  height: calc(100vh - 100px);
  border: none;
  display: block;
}

.webview-header svg.svg-inline--fa {
  -webkit-filter: drop-shadow( 5px 5px 1px rgba(0, 0, 0, 1));
  filter: drop-shadow( 5px 5px 1px rgba(0, 0, 0, 1));
}

.inactivity-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}

.inactivity-modal > div {
  position: absolute;
  width: 600px;
  padding: 50px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 10px solid rgba(50,50,50,0.5);
}

.landing-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.landing-wrapper > img.logo {
  width: 50vw;
  margin-left: 2vw;
  margin-top: 2vw;
}

.landing-wrapper > span.call-to-action {
  transition: left 1s ease-in-out;
  margin-left: 7vw;
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
  position: relative;
  top: -10px;
  font-weight: 100;
  left: 0;
}

.landing-wrapper > .content {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  top: -4px;
}

.landing-wrapper > .content > svg {
  position: relative;
  z-index: 5;
}

.landing-wrapper > .content > img.cok-logo {
  position: absolute;
  bottom: 50px;
  right: 100px;
  width: 250px;
  z-index: 10;
}

.landing-wrapper > .content > img.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  top: 2px;
}

/* Page */

.page {
  /*padding: calc(15% + 1.5em) 5% 5%;*/
  overflow-y: auto;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
  transition: left 1s ease-in-out, top 1s ease-in-out, box-shadow 1s ease-in-out;
}

.page-enter {
  top: 100vh;
  left: 0;
}

.page-enter-active {
  top: 0;
  left: 0;
}

.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, .5) inset;
  top: -100vh;
  left: 0;
}

.page--swap.page-enter .landing-wrapper > span.call-to-action {
  left: -100vw;
}

.page--swap.page-enter-active .landing-wrapper > span.call-to-action {
  left: 0;
}

.page--swap.page-exit .landing-wrapper > span.call-to-action {
  left: 100vw;
}

.page--prev.page-enter {
  top: -100vh;
  left: 0;
}

.page--prev.page-enter-active {
  top: 0;
  left: 0;
}

.page--prev.page-exit {
  top: 100vh;
  left: 0;
}

.page--swap.page-enter {
  left: 100vw;
  top: 0;
}

.page--swap.page-enter-active {
  left: 0;
  top: 0;
}

.page--swap.page-exit {
  left: -100vw;
  top: 0;
}

.page-exit .page__inner {
  transition: left 1s ease-in-out, top 1s ease-in-out, opacity 1s ease-in-out;
}

/* Menu Row */

.menu-row {
  position: relative;
  -webkit-overflow-scrolling: touch;
  transition: top 1s ease;

  border-bottom: 50px solid rgba(0,0,0,0.2);
  padding: 60px;
  margin: 0;
  height: 18vh;
  width: 100vw;
}

.menu-row::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 18vh;
  width: 100%;
  height: 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1) inset;
}

.menu-row-enter-active {
  top: 0 !important;
}

.menu-row-enter-done {
  top: 0 !important;
}

.menu-row-exit {
  top: inherit;
}

.menu-row-exit-active {

}

.menu-row-exit-done {

}